@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

h1 {
    color: orangered;
}

.titulos {
    color: orangered;
    text-align: center;
    padding-bottom: 80px;
    padding-top: 80px;
    font-size: 30px;
}

form {
    color: orangered;
    text-align: center;
}

.titulos2 {
    color: orangered;
    text-align: center;
    margin-top: 180px;
}


.texto {
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

.menu li {
    display: inline;
    font-size: 10px;
}



body {
    background-color: blanchedalmond;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
}


footer {
    border-top: 1px orangered solid;
    text-align: center;
    margin-top: 250px;
    margin-bottom: 20px;
    margin-left: 80px;
    margin-right: 60px;
    padding-top: 10px;
    padding-bottom: 100px;
    padding-left: 90px;
    padding-right: 50px;
    color: lightcoral;
    font-size: 8px;
    background-color: blanchedalmond;
    
}


.logo {
    width: 150px;
    margin-left: 70px;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
}

.img {
    display: flex;
    height: 200px;
}



.parrafo1 {
    color: rgb(164, 66, 66);
    text-align: justify;
    font-size: 20px;
    padding-bottom: 6px;
}


.items {
    color: rgb(164, 66, 66);
    font-size: 20px;

}

div {
    display: flex;
    justify-content: center;
    width: 100%;
}

.puro {
    color: black;
    text-decoration: underline;
}

.ubicacion {
    
    width: 200px;
    padding-right: 190px;
}

.direccion {
    color: rgb(164, 66, 66);
    font-size: 10px;
    margin-left: 510px;
}

.email {
    color: rgb(164, 66, 66);
    font-size: 10px;
    margin-left: 510px;
}

.telefono {
    color: rgb(164, 66, 66);
    font-size: 10px;
    margin-left: 510px;
}

.circulo {
    color: rgb(164, 66, 66);
    font-size: 20px;
}

.botton2 {
    border-radius: 4px;
    background-color: orangered;
    color: white;
    border: none;
    margin-left: 10px;
    
}

.miFondo {
    background-color: blanchedalmond;
}

.miLink:hover {
    background-color: orangered;
    color: white;
}
/*footer boostrap*/
 .footer2 { 
    
    text-align: center;
    margin-top: 250px;
    margin-bottom: 20px;
    margin-left: 80px;
    margin-right: 60px;
    padding-top: 10px;
    padding-bottom: 60px;
    padding-left: 90px;
    padding-right: 50px;
    font-family: 'roboto';
    color: lightcoral;
    font-size: 8px;
    background-color: blanchedalmond;

    
}

.img-fluid {
    display: flex;
    padding: 20px;
    width: 150px;
    margin-left: 480px;
}

.botton2 {
    margin-top: 2px;
    border-radius: 4px;
    background-color: orangered;
    color: white;
    border: none;
}

.nombre {
    color: rgb(164, 66, 66);
    font-size: 20px;
    padding-right: 90px;
    padding-bottom:20px;
}

.telef {
    color: rgb(164, 66, 66);
    font-size: 20px;
    padding-right: 9px;
    padding-bottom: 20px;
}

.correo {
    color: rgb(164, 66, 66);
    font-size: 20px;
    padding-right: 90px;
    padding-bottom: 20px;
}

.Presupuesto {
    color: rgb(164, 66, 66);
    font-size: 20px;
    padding-right: 90px;
    padding-bottom: 20px;
}

.colorr{color: orangered;}