@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

h1 {
    color: orangered;
}

.titulos {
    color: orangered;
    text-align: center;
    padding-top: 1px;
    margin-bottom: 30px;
    font-size: 30px;
}

.titulos1 {
    color: orangered;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 70px;
    font-size: 30px;
}



form {
    color: orangered;
    text-align: center;
}

.titulos2 {
    color: orangered;
    text-align: center;
    font-size: 20px;
    padding: 3px;
    margin-bottom: 50px;
}

.titulos3 {
    color: orangered;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 70px;
    font-size: 30px;
}

.titulos4 {
    color: orangered;
    text-align: center;
    padding-top: 1px;
    margin-bottom: 70px;
    font-size: 30px;
}

.texto {
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

.menu li {
    display: inline;
    font-size: 10px;
}



body {
    background-color: blanchedalmond;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
}


.logo {
    width: 150px;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
}



.parrafo1 {
    color: rgb(164, 66, 66);
    text-align: center;
    font-size: 20px;
}


.items {
    color: rgb(164, 66, 66);
    font-size: 20px;

}

div {
    display: flex;
    justify-content: center;
    width: 100%;
}

.puro {
    font-size: 15px;
    color: black;
    text-decoration: underline;
}

.ubicacion {

    width: 200px;
    padding-right: 190px;
}

.direccion {
    display: flex;
    color: rgb(164, 66, 66);
    font-size: 10px;
    margin-left: 510px;
    margin-bottom: 2px;
    padding-top: 15px;
}

.email {
    display: flex;
    color: rgb(164, 66, 66);
    font-size: 10px;
    margin-left: 510px;
    margin-bottom: 2px;
    
}

.telefono {
    display: flex;
    color: rgb(164, 66, 66);
    font-size: 10px;
    margin-left: 510px;
    margin-bottom: 2px;
}

.circulo {
    color: rgb(164, 66, 66);
    font-size: 20px;
    margin-bottom: 80px;

}

.botton2 {
    border-radius: 4px;
    background-color: orangered;
    color: white;
    border: none;
    margin-left: 15px;
    margin-bottom: 15px;
    cursor: pointer;

}

.miFondo {
    background-color: blanchedalmond;
}

.miLink:hover {
    background-color: orangered;
    color: white;
}

/*footer boostrap*/
.footer2 {

    text-align: center;
    margin-top: 250px;
    margin-bottom: 10px;
    margin-left: 80px;
    margin-right: 60px;
    padding-top: 10px;
    padding-bottom: 60px;
    padding-left: 90px;
    padding-right: 50px;
    font-family: 'roboto';
    color: lightcoral;
    font-size: 7px;
    background-color: blanchedalmond;


}
.container {display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    
}



.img-fluid {width: 300px;
    
}

.botton2 {
    margin-top: 2px;
    border-radius: 4px;
    background-color: orangered;
    color: white;
    border: none;
}

.nombre {
    color: rgb(164, 66, 66);
    font-size: 20px;
    padding-right: 90px;
    padding-bottom: 20px;
}

.telef {
    color: rgb(164, 66, 66);
    font-size: 20px;
    padding-right: 9px;
    padding-bottom: 20px;
}

.correo {
    color: rgb(164, 66, 66);
    font-size: 20px;
    padding-right: 90px;
    padding-bottom: 20px;
}

.Presupuesto {
    color: rgb(164, 66, 66);
    font-size: 20px;
    padding-right: 90px;
    padding-bottom: 20px;
}

.colorr {
    color: orangered;
}