@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

h1 {
    color: orangered;
}

.titulos {
    color: orangered;
    text-align: center;
    padding-top: 1px;
    margin-bottom: 30px;
    font-size: 30px;
}

.titulos1 {
    color: orangered;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 70px;
    font-size: 30px;
}



form {
    color: orangered;
    text-align: center;
}

.titulos2 {
    color: orangered;
    text-align: center;
    font-size: 20px;
    padding: 3px;
    margin-bottom: 50px;
}

.titulos3 {
    color: orangered;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 70px;
    font-size: 30px;
}

.titulos4 {
    color: orangered;
    text-align: center;
    padding-top: 1px;
    margin-bottom: 70px;
    font-size: 30px;
}

.texto {
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2rem;
}

.menu li {
    display: inline;
    font-size: 10px;
}



body {
    background-color: blanchedalmond;
    font-family: 'Roboto', sans-serif;
    font-size: 0.7rem;
    
   
}
main {
min-height: 50vh;

}

.logo {
    width: 150px;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
}



.parrafo1 {
    color: rgb(164, 66, 66);
    text-align: justify;
    font-size: 20px;
}


.items {
    color: rgb(164, 66, 66);
    font-size: 20px;

}

div {
    display: flex;
    justify-content: center;
    width: 100%;
}

.puro {
    font-size: 15px;
    color: black;
    text-decoration: underline;
}

.ubicacion {

    width: 200px;
    padding-right: 190px;
}

.direccion {
    
    color: rgb(164, 66, 66);
    text-align: center;
    font-size: 10px;
}

.email {
    text-align: center;
    color: rgb(164, 66, 66);
    font-size: 10px;
    
}

.telefono {
    text-align: center;
    color: rgb(164, 66, 66);
    font-size: 10px;
   
}

.circulo {
    color: rgb(164, 66, 66);
    font-size: 20px;
    margin-bottom: 80px;

}

.botton2 {
    border-radius: 4px;
    background-color: orangered;
    color: white;
    border: none;
    margin: 0 15px 30px 0;
    cursor: pointer;

}

.miFondo {
    background-color: blanchedalmond;
}

.miLink:hover {
    background-color: orangered;
    color: white;
}

/*footer boostrap*/
.footer2 {
    margin: 100px,60px,10px,80px;
    font-family: 'roboto';
    font-size: 1.1rem;
    color: lightcoral; 
    background-color: blanchedalmond;
}





.container {display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    
}
.map-container {
    text-align: center;
  }
  #map {
    width: 100px;
    height: 300px;
    
 
  }
  
  
  p {
    margin-bottom: 100px;
  }
  
  
  .info-list {
    display: flexbox;
    list-style: none; 
    padding: 0; 
    margin: 20px 90px 0 0;
    color: orangered;
    font-size: 0,3rem;
  }
  
  .info-list li {
    margin: 5px 0; 
  }
  


.img-fluid {width: 300px;
    
}

.botton2 {
    margin-top: 2px;
    border-radius: 4px;
    background-color: orangered;
    color: white;
    border: none;
}

.nombre {
    color: rgb(164, 66, 66);
    font-size: 20px;
    padding-right: 90px;
    padding-bottom: 20px;
}

.telef {
    color: rgb(164, 66, 66);
    font-size: 20px;
    padding-right: 9px;
    padding-bottom: 20px;
}

.correo {
    color: rgb(164, 66, 66);
    font-size: 20px;
    padding-right: 90px;
    padding-bottom: 20px;
}

.Presupuesto {
    color: rgb(164, 66, 66);
    font-size: 20px;
    padding-right: 90px;
    padding-bottom: 20px;
}

.colorr {
    color: orangered;
}