body {
    background-color: blanchedalmond;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
}

.texto {
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: $color-orangered;
}

.container-fluid {
    display: flex;
    flex-direction: column;
  }