@media (max-width: 500px) {
  .container5 {
    flex-direction: column
  }
}

@media (max-width: 500px) {
  .compromiso {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .container2 {
    flex-direction: column
  }
}

@media(max-width:500px) {
  .miLink {
    background: rgb(157, 159, 161);
    opacity: 0.5;
  }
}

@media(max-width:900px) {
  .container {
    flex-direction: column;
  }
}
@media(max-width:500px) {
  form input {
    width:50%;
  }
}


